<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.teaser_image %}
    {% assign og_image_filename = page.teaser_image %}
    {% assign og_type = 'article' %}
  {% else %}
    {% assign og_image_filename = '/images/decarcerate-logo.png' %}
    {% assign og_type = 'website' %}
  {% endif %}

  <meta property="og:type" content="{{ og_type }}" />
  <meta property="og:image" content="{{ og_image_filename | prepend: site.baseurl }}" />
  <meta property="og:image:alt" content="decarcerate utah" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="alternate" type="application/rss+xml" title="decarcerate utah RSS" href="/feed.xml">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Philosopher:400,300,700,800,600"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Karla:400,300,700,800,600"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Gotu:400,300,700,800,600"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Fanwood+Text:400,300,700,800,600"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Cardo:400,300,700,800,600"
    rel="stylesheet"
    type="text/css"
  />
</head>

