<aside>
	<div class="container">
		<nav>
			<ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}">news</a></li>
        {% for page in site.pages %} {% if page.isheader %} {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %} {% endif %} {% endfor %}
			</ul>
		</nav>
	</div>
</aside>

<div class="header">
  <a href="{{ '/' | prepend: site.baseurl }}">
    <img src="{{ '/images/decarcerate_banner.jpg' | prepend: site.baseurl }}" />
    <h1>{{ site.title }}</h1>
  </a>
</div>

