$content-width: 800px;
$body-background-color: #f3f3f3;
$main-background-color: #ffffff;

$font-color: #000000;
$link-color: #1f7ba8;
$link-hover-color: #1f1fa8;
$heading-font-color: #000000;

$link-button-color: #000000;
$link-button-text-color: #ffffff;

$link-button-hover-color: #cccccc;
$link-button-hover-text-color: #000000;

$post-delimiter-color: #cccccc;

$nav-background-color: $main-background-color;
$nav-text-color: $font-color;

$font: 'Fanwood Text', sans-serif;
$heading-font: 'Philosopher', serif;
$small-heading-font: 'Karla', sans-serif;
$nav-font: 'Karla', serif;
$link-font: 'Cardo', serif;
$title-font: 'Gotu', serif;
$date-font: 'Karla', serif;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

