body {
  background: $body-background-color;
  margin: 0;
  color: $font-color;
  font-family: $font;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

main {
  background: $main-background-color;
  padding: 0 15px 15px;
  max-width: $content-width;
  margin: 0 auto 0;
}

/* General */

h1, h2 {
  font-family: $heading-font;
  font-weight: 600;
}

h3, h4 {
  font-family: $small-heading-font;
  font-weight: 600;
}

h1, h2, h3, h4 {
  color: $heading-font-color;
  line-height: 1.2;
  a, a:visited {
    text-decoration: none;
    color: $heading-font-color;
  }
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

a, a:visited {
  color: $link-color;
  text-decoration: underline;
  font-family: $link-font;
}

ul {
  list-style-type: square;
}

ol {
  padding-left: 30px;
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
  }
}


img {
  width: $content-width;
  max-width: 100%;
  height: auto;
}

blockquote {
  font-style: italic;
}

/* Classes */

.post {
  border-bottom: 1px dotted $post-delimiter-color;
  h1 a {
    font-family: $title-font;
    &:hover {
      color: $font-color;
    }
  }
}

.empty-top {
  border-bottom: 5px solid black;
}
.empty-bottom {
  border-bottom: 5px solid black;
}

.event {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding-bottom: 20px;
  h1 {
    margin: 20px 0;
  }
  a {
    text-decoration: none;
  }
  h4, p {
    margin: 0;
  }
}

.contact {
  text-align: center;
  text-transform: uppercase;
  h3 {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 0;
    padding: 15pt 0;
    overflow: auto;
    a {
      color: $link-color;
      font-family: $small-heading-font;
    }
  }
}

.date {
  font-family: $date-font;
  font-weight: bold;
}

.post-excerpt {
  padding-bottom: 10px;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

.header {
  padding: $header-image-padding-top 0 $header-image-offset;
  position: relative;
  text-align: center;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.post-teaser {
  max-width: 400px;
  padding: 20px 10px;
  a figure, p {
    padding: 0;
    margin: 0;
  }
  .read-more {
    text-align: center;
  }
}

.all-posts {
  text-align: center;
  h3 a {
    text-decoration: underline;
    color: $link-color;
  }
}

.pagination {
  font-size: 20px;
  text-align: center;
  .active {
    font-weight: 600;
  }
  a, span {
    font-family: $small-heading-font;
    padding: 0 5px;
  }
}

.featured {
  border: 2px solid black;
}

.links {
  ul {
    list-style-type: none;
    li {
      margin: 15px 0;
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-family: $links-page-font;
        padding: 5px 10px;
        background: $link-button-color;
        color: $link-button-text-color;
        border-radius: 5px;
        &:hover, &:active {
          background: $link-button-hover-color;
          color: $link-button-hover-text-color;
          text-decoration: none;
        }
      }
    }
  }
}

/* Footer */

footer {
  padding-top: 20px;
  text-align: center;
  ul {
    padding: 0;
    list-style-type: none;
  }
  li, i {
    padding: 0 10px;
  }
  li {
    display: inline;
    a {
      color: $font-color;
    }
  }
  i {
    font-size: 1.25em !important;
  }
  p {
    padding: 0;
  }
}

/* Aside */

aside {
  position: fixed;
  top: 0;
  left: 0;
  background: $nav-background-color;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
  display: flex;
  nav {
    float: left;
    max-width: 800px;
    margin: 0 auto;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        position: relative;
        padding: 0 1px;
        a {
          text-decoration: none;
          display: block;
          padding: $nav-padding-vert $nav-padding-horiz;
          font-family: $nav-font;
          font-size: $nav-font-size;
          color: $nav-text-color !important;
          line-height: $nav-line-height;
          margin-bottom: -1px;
          box-shadow: 0;
          &:hover,
          &:active,
          &.active {
            margin-bottom: -3px;
            border-bottom: 3px solid $nav-text-color;
            text-decoration: none;
            color: $nav-text-color;
            font-weight: bold;
          }
        }
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

